body {
    background-color: #ffebd9;
    font-size: 20px;
}
h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: teal;
}
h2 {
    font-size: 20px;
    opacity: 0.7;
    margin-top: -20px;
}
#container {
    margin: auto;
    height: 280px;
    width: 500px;
    box-shadow: 4px 3px 13px -3px rgba(0,0,0,0.75);
   color: #ffebd9;
   background-color: teal;
   font-family: Arial, Helvetica, sans-serif;

}
.addtask {
    background-color: teal;
    height: 30px;
    width: 430px;
    border:none;
    border-bottom: solid 1px #ffebd9;
    outline: none;
    color: #ffebd9;
}

#delete{
    color: #ffebd9;
    opacity: 0.1;
    font-size: 20px;
    float: right;

}
#delete:hover{
    opacity: 1;
}

#add{
    height: 60px;
    width: 400px;
    color: #ffebd9;
    background-color: teal;
    border:none;
    outline: none;
    font-size: 25px;
}
.addb{
    color: teal;
    background-color: #ffebd9;
    border: none;
    outline: none;
    border-radius: 9px;
    font-size: 20px;  
    opacity: 0.2; 
    float: right;
    margin-right: 5px;
    margin-top: -30px;
}
.addb:hover{
    opacity: 1;
}